output/*
StructureGeneration/HoltonOutputs/
StructureGeneration/HoltonScores/
StructureGeneration/output/
StructureGeneration/data/
*/tmp_refinement/*
*__pycache__*
data/*
.vscode/*
*conformer_subsets/*
*tmp_out/
untwist_moves_*.txt
*.png
*coot-history.*
*.log