output/*
StructureGeneration/HoltonOutputs/
StructureGeneration/HoltonScores/
StructureGeneration/output/
StructureGeneration/data/
*/tmp_refinement/*
*__pycache__*
data/*
.vscode/*
*conformer_subsets/*